@font-face {
    font-family: 'rubik-medium';
    src: url('../fonts/Rubik-Medium.ttf');
       
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rubik-regular';
    src: url('../fonts/Rubik-Regular.ttf');
       
    font-weight: normal;
    font-style: normal;

}


