.wrapper__ask {
    margin-top: 55px;

    @media (min-width: 1400px) {

        max-width: 50%;
        margin: 55px auto;
    }
} 



.ask {
    
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-top: 1px solid $grayish-blue;
    }

    &__title {
        margin: 0;
        font-size: 500;
        font-size: 1.2rem;
        color: $dark-blue;
        cursor: pointer;
    }

    &__media {
        img {
            stroke: red;
        }
    }

    &__text {
        max-height: 0;
        transition: max-height 0.3s;
        font-size: 400;
        color: $grayish-blue;
        overflow: hidden;
       
    }
 
}

.ask.activate {

    .ask__title {
        color: $soft-red;
        transition: 0.3s;
    }

    .ask__media {
        transform: rotate(180deg);
        transition: 0.3s;
        color: red;
    }

    .ask__text {
        max-height: 500px;
        transition: max-height 0.3s;
        margin-bottom: 20px;
    }

}



    


