@import '_reboot.scss';
@import '_font_face.scss';
@import '_grid_layout.scss';
@import '_layout.scss';
@import '_nav.scss';
@import '_header.scss';
@import '_buttons.scss';
@import '_section.scss';
@import '_tabs.scss';
@import '_cards.scss';
@import '_questions.scss';

body {
    overflow-x: hidden;
}

#app {
    font-family: $rubik-regular;
}

img {
    max-width: 100%;
    height: auto;
}